<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Analysis</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div>
        <a href="/" class="btn">Back to Home</a>
    </div>
    <br/>
    <div class="container">
        <div class="visual">
            <h3>Visualization of Comments</h3>
            <div class="fig">
                <img src="../static/images/plot1.png" alt="Classified Comments Graph" class="graph"/>
                <img src="../static/images/plot2.png" alt="Classified Comments Graph" class="graph"/>
            </div>
        </div>
        <div class="smry">
            <h3>Video Transcript Summary</h3>
            <br/>
            <p id="content">{{summary}}</p>
        </div>
    </div>
</body>
</html>